<!DOCTYPE html>   
<html>   
    <head>  
        <meta name="viewport" content="width=device-width, initial-scale=1">  
        <title> REGISTER HERE!!</title>   
        <link rel="stylesheet" href="../static/predictor.css">
    </head>    

    <body>
        <div class="container">
                <form class="pform">
                    <h1>REGISTER FORM</h1>
                    <hr>
                    <h3> <label>Username: </label>   
                        <input type="text" name="username" required size="15"> <br><br>  
                    <label>Email: </label>  
                        <input type="email" name="Email" required size="20">  <br><br>
                    <label>Password: </label>  
                        <input type="password"  name="password" required size="15">  <br><br>
                    <label>Confirm Password: </label>  
                        <input type="password"  name="password" required size="15">  <br>
                    </h3>
                    <a href="#"><button type="button">Register</button></a>
                    <h4><a href="login.html"> Back to Login </a>           
            </form>
        </div>
    </body>
</html>